:root {
  /* Default dark mode */
  --text-color: rgba(255, 255, 255, 0.85);
  --link-color: rgba(255, 255, 255, 0.85);
  --selection-color: rgba(255, 255, 255, 0.2);
  --background-color: #000;

  --button-color: #222;
  --button-active-color: #3a0eb2;

  --tile-color: #030303;
  --editable-tile-color: #222;
  --editable-tile-editing-color: #3a0eb2;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  line-height: normal;
  font-weight: 400;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: rgba(0, 0, 0, 0.85);
    --link-color: rgba(0, 0, 0, 0.85);
    --selection-color: rgba(0, 0, 0, 0.15);
    --background-color: #fff;

    --button-color: #e6e6e6;
    --button-active-color: #b8ccff;

    --tile-color: #f8f8f8;
    --editable-tile-color: #e6e6e6;
    --editable-tile-editing-color: #b8ccff;
  }
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  width: 100%;
  height: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.status {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
  margin: 8px;
}
.status-fullwidth {
  grid-column: span 2;
}
.status-soc {
  position: relative;
  background-color: var(--tile-color);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
}
.status-soc button {
  width: auto;
  background-color: transparent;
  backdrop-filter: blur(16px);
}
.status-soc-value {
  font-size: 80px;
  font-weight: 600;
  line-height: 60px;
}
.status-soc-subscript {
  font-size: 18px;
}
.status-soc.disconnected .status-soc-value,
.status-soc.disconnected .status-soc-subscript {
  opacity: 0.25;
}
.status-soc-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.status-soc-value .small {
  font-size: 0.6em;
}
.status-tile {
  background-color: var(--tile-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 4px;
  user-select: none;
  overflow: hidden;
  height: 80px;
}
.status-tile.editable {
  cursor: pointer;
  background-color: var(--editable-tile-color);
}
.status-tile.editing {
  background-color: var(--editable-tile-editing-color);
}
.status-tile-value {
  position: relative;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
.status-tile-subscript {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.editable-value {
  outline: 0;
  overflow: hidden;
  white-space: nowrap;
}
.editable-value::selection {
  background-color: var(--selection-color);
}
.editable-value:focus {
  cursor: text;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.input-group select {
  flex: 1 1 auto;
}

button {
  font-size: 18px;
  width: 100%;
  padding: 12px 24px;
  border: 0;
  border-radius: 8px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  user-select: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  &:active {
    background-color: var(--button-active-color);
  }
}

select {
  background-color: var(--button-color);
  color: var(--text-color);
  border: 0;
  border-radius: 999px;
  padding: 0 16px;
  margin: 0;
  font-size: 16px;
  height: 32px;
  text-align: center;
  outline: 0;
}

a {
  color: var(--link-color);
}
a:active {
  color: var(--button-active-color);
}

footer {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin: 0 auto;
}
footer .sub {
  font-size: 13px;
  color: #999;
}
